{% extends './base-produtos.html' %}
{% block title %}{{ titulo_da_pagina }}{% endblock title %}

{% block conteudo %}
    {% include '../partials/titulo.html' %}
    <section class="carrinho">
        <div class="carrinho__cards">
            {% for produto_carrinho in object_list %}     
                <div class="carrinho__card">
                    <div class="carrinho__card_img">
                        <img src="{{ produto_carrinho.produto.imagem.url }}" alt="{{ produto_carrinho.produto.nome }}">
                    </div>
                    <div class="carrinho__card_info">
                        <h4><small>Vendido por: </small><span>{{ produto_carrinho.produto.vendedor.nome_loja }}</span></h4>
                        <h2>{{ produto_carrinho.produto.nome }}</h2>

                        {% if produto_carrinho.produto.com_desconto %}
                            <small>Com desconto de 60% sai de R$ <span class="preco_antigo">{{ produto_carrinho.produto.preco }}</span></small>
                            <br>
                            <small class="preco">para: <h2>R$ {{ produto_carrinho.produto.get_preco_com_desconto }}</h2></small>
                        {% endif %}
                    </div>
                    <div class="carrinho__card_quant">
                        <p>Quantidade</p>
                        <div>
                            <button class="btn-icone">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z" fill="currentColor" /></svg>
                            </button>
                                <h3>{{ produto_carrinho.quantidade }}</h3>
                            <button class="btn-icone">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z" fill="currentColor" /></svg>
                            </button>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>        
            {% endfor %}
        </div>
    </section>
{% endblock conteudo %} 