{% extends 'global/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}{{ titulo_da_pagina }}{% endblock title %}

{% block content %}
    {% include 'global/components/header.html' %}

    <main class="form-produto">
        {% if form.errors %}
            {% for error in form.errors %}
                <p class="alert__error">
                    {{ error }}
                </p>                
            {% endfor %}
        {% endif %}

        <form method="post" class="form-produto__container" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-produto__container-titulo">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.02698 11.9929L5.26242 16.2426L6.67902 14.8308L4.85766 13.0033L22.9731 13.0012L22.9728 11.0012L4.85309 11.0033L6.6886 9.17398L5.27677 7.75739L1.02698 11.9929Z" fill="currentColor" /></svg>
                <h1>{{ titulo_da_pagina }}</h1>
            </div>

            <div class="form-produto__campo-textos">
                {% for field in form %}
                    <label class="{{ field.field.widget.attrs.class }}">
                        <span>
                            {{ field.label}}
                            {% if field.required %}
                                <span class="requirido">*</span>
                            {% endif %}
                        </span>

                        {% if field.name == 'imagem' %}
                            <div>
                                <span class="btn-selecionar-imagem">
                                    Selecionar imagem
                                </span>
                                <span data="imageName">
                                    Imagem.png
                                </span>
                            </div>
                            {% endif %}
                            
                            {% render_field field placeholder=field.help_text %}

                        {% if field.name == 'com_desconto' %}
                            <span class="toggle"></span>
                        {% endif %}
                    </label>
                    {% if field.erros %}
                        {% for error in field.errors %}
                            <p class="form_error">
                                {{ error }}  
                            </p>     
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
                
            <div class="form-produto__btns">
                <button type="submit" class="btn btn_green">
                    Salvar
                </button>
                <a class="btn_white" href="{% url 'mercado:home' %}">Voltar</a>
            </div>
        </form>
    </main>
    <script src="{% static 'global/js/form-produto.js' %}"></script>
{% endblock content %}