{% extends 'global/base.html' %}

{% block title %}Home   {% endblock title %}

{% block content %}
    {% include 'global/components/header.html' %}
    <main class="home">
        <div class="container">
            {% if messages %} 
                {% for mensagem in messages %}
                    <p class="alert__{{ mensagem.tags }}" role="alert">
                        {{ mensagem }}
                    </p>
                {% endfor %}
            {% endif %}

            <div class="home__cards">
                {% for produto in produtos %}
                    {% include '../partials/cards.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="home__categoria"></div>
    </main>
{% endblock content %}