.header {
    padding: 0 5%;
    background-color: var(--color-primary );
    color: var(--color-white);
}



.header a {
    color: var(--color-white);
    text-decoration: none;
}

.header__container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.header__search {
    display: flex;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    /* over */
}

.header__search:focus-within {
    box-shadow: 0 0 1px 2px var(--color-secondary);
}

.header__search input, .header__search button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

.header__search input {
    height: 3rem;
    padding: 0 1rem;
}

.header__search button {
    font-size: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 3rem;
    color: var(--color-primary);
}


.header__user {
    font-size: 1rem;
    display: flex;
    gap: 1rem;
}

.header__user .btn_white {
    color: var(--color-primary);
}

.header__user .btn-user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-transform: capitalize;
}

.header__user .header__user_btns {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header__categorias {
    padding: 1rem 0;
}

.header__categorias ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;
}

@media (max-width:1160px) {
    .header .header__container-top {
        display: grid;
        grid-template-columns: 15rem 1fr;
        gap: 1rem;
    }

    .header .header__container-top .header__container-top_title {
        grid-column: 1 / 2;
    }

    .header .header__container-top .header__search {
        max-width: 700px;
        width: 100%;
        justify-self: center;
        grid-column: span 2;
        grid-row: 2 / 3;
    }

    .header .header__container-top .header__user {
        align-self: flex-end;
        grid-column: 2 / 3;
        justify-self: flex-end;
    }
}

@media (max-width:780px) {

    .header .header__container-top .header__user {
        position: relative;
    }
    .header .header__container-top .header__user_btns {
        display: none;
    }

    .header .header__container-top .btn-user {
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        background-color: var(--color-primary-light);
        color: var(--color-secondary);
        transition: .2s;
    }

    .header .header__container-top .btn-user:hover {
        box-shadow: 0 0 0 2px var(--color-secondary);
        /* background-color: red; */
    }

    .header .header__container-top .btn-user span {
        display: none;
    }

    .header .header__container-top .header__user_btns.active {
        background-color: var(--color-primary);
        box-shadow: 0 0 40px 20px rgba(0, 0, 0, .1);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* padding: ; */
        width: 200px;
        position: absolute;
        z-index: 2;
        top: 4rem;
        right: 0;
        border-radius: 5px;
    }

    .header .header__container-top .header__user_btns .conta {
        width: 100%;
        padding: 1rem 1rem .5rem;
        text-align: start;
        border-bottom: 2px solid var(--color-primary-light);
    }

    .header .header__container-top .header__user_btns .conta-sair {
        padding: 0 0 1rem;
        width: 100%;
    }
    
    .header .header__container-top .header__user_btns .conta-sair a {
        color: var(--color-red);
        display: block;
        width: 100%;
        text-align: center;
    }
}