.header {
    padding: 0 5%;
    background-color: var(--color-primary );
    color: var(--color-white);
}

.header a {
    color: var(--color-white);
    text-decoration: none;
}

.header__container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.header__search {
    display: flex;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    /* over */
}

.header__search:focus-within {
    box-shadow: 0 0 1px 2px var(--color-secondary);
}

.header__search input, .header__search button {
    background-color: transparent;
    border: 0;
    outline: 0;
}

.header__search input {
    height: 3rem;
    padding: 0 1rem;
}

.header__search button {
    /* background-color: var(--color-primary); */
    font-size: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
     width: 3rem;
    /* height: 2.5rem;
    margin-right: .5rem;  */
    color: var(--color-primary);
}


.header__user {
    font-size: 1rem;
    display: flex;
    gap: 1rem;
}

.header__user .btn_white {
    color: var(--color-primary);
}

.header__user .user {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__categorias {
    padding: 1rem 0;
}

.header__categorias ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;
}